Thumbs.db
.DS_Store
.idea
.classpath
.settings
.svn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
WEB-INF
bower_components
typings
.project

/bin/
/dist/
/target/
/appdata/

*.psd
*.log
*.tmp
*.iws
*.iml
*.ipr
*.suo
*.sln
